
.buttonGrp button{
  height: 30px;
  width: 57px;

}
.App input{
  height: 25px;
  width: 167px;;
}
.App{
  width: 172px;
  height: 200px;
  margin: 0 auto;
}
.hisP{
  display: none;
  
}
.hisN{
  width: 170px;
  display: block;
  
}
.hisN:hover {
  width: 170px;
  display: block;

}
.alert-enter {
  opacity: 0.01;
  color: black;
  
}
.alert-enter-active{
  opacity: 1;
  transition:  opacity 2000ms ease-in 500ms;
  
}
.calDisp-appear{
  opacity: 0.01;
}
.calDisp-appear-active{
  opacity: 1;
  transition: opacity 2000ms linear
}
