.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.buttonGrp button{
  height: 30px;
  width: 42px;
}
.buttonGrp2 button{
  height: 30px;
  width: 42px;
}
.buttonGrp3 button{
  height: 30px;
  width: 42px;
}
.buttonGrp4 button{
  height: 30px;
  width: 42px;
}
.buttonGrp5 button{
  height: 30px;
  width: 84px;
}
.App input{
  height: 25px;
  width: 163px;;
}
.App{
  width: 170px;
  height: 200px;
  
  
  flex-wrap: wrap;
}
.hisP{
  display: none;
}
.hisN{
  display: block;
}